# Created by .ignore support plugin (hsz.mobi)
node_modules/.bin/
node_modules/.gitignore
node_modules/@electron/get/LICENSE
node_modules/@electron/get/README.md
node_modules/@electron/get/package.json
node_modules/@sindresorhus/is/license
node_modules/@sindresorhus/is/package.json
node_modules/@sindresorhus/is/readme.md
node_modules/@szmarczak/
node_modules/@types/
node_modules/asynckit/
node_modules/axios/CHANGELOG.md
node_modules/axios/LICENSE
node_modules/axios/README.md
node_modules/axios/SECURITY.md
node_modules/axios/UPGRADE_GUIDE.md
node_modules/axios/index.d.ts
node_modules/axios/index.js
node_modules/axios/lib/
node_modules/axios/package.json
node_modules/axios/tsconfig.json
node_modules/axios/tslint.json
node_modules/boolean/
node_modules/buffer-crc32/
node_modules/buffer-from/
node_modules/cacheable-request/LICENSE
node_modules/cacheable-request/README.md
node_modules/cacheable-request/package.json
node_modules/cacheable-request/src/
node_modules/clone-response/
node_modules/combined-stream/
node_modules/concat-stream/
node_modules/config-chain/
node_modules/core-util-is/
node_modules/debug/
node_modules/decompress-response/
node_modules/defer-to-connect/LICENSE
node_modules/defer-to-connect/README.md
node_modules/defer-to-connect/package.json
node_modules/define-properties/
node_modules/delayed-stream/
node_modules/detect-node/
node_modules/duplexer3/
node_modules/electron/LICENSE
node_modules/electron/README.md
node_modules/electron/checksums.json
node_modules/electron/cli.js
node_modules/electron/electron.d.ts
node_modules/electron/index.js
node_modules/electron/install.js
node_modules/electron/package.json
node_modules/electron/path.txt
node_modules/encodeurl/
node_modules/end-of-stream/
node_modules/env-paths/
node_modules/es6-error/
node_modules/escape-string-regexp/
node_modules/extract-zip/.travis.yml
node_modules/extract-zip/CONTRIBUTING.md
node_modules/extract-zip/LICENSE
node_modules/extract-zip/cli.js
node_modules/extract-zip/index.js
node_modules/extract-zip/package.json
node_modules/extract-zip/readme.md
node_modules/fd-slicer/
node_modules/follow-redirects/
node_modules/form-data/
node_modules/fs-extra/
node_modules/function-bind/
node_modules/get-intrinsic/
node_modules/get-stream/
node_modules/global-agent/.flowconfig
node_modules/global-agent/LICENSE
node_modules/global-agent/README.md
node_modules/global-agent/bootstrap.js
node_modules/global-agent/package.json
node_modules/global-agent/src/
node_modules/global-tunnel-ng/
node_modules/globalthis/
node_modules/got/
node_modules/graceful-fs/
node_modules/has-property-descriptors/
node_modules/has-symbols/
node_modules/has/
node_modules/http-cache-semantics/
node_modules/inherits/
node_modules/ini/
node_modules/isarray/
node_modules/json-buffer/
node_modules/json-stringify-safe/
node_modules/jsonfile/
node_modules/keyv/
node_modules/lodash/
node_modules/lowercase-keys/
node_modu
les/lru-cache/
node_modules/matcher/
node_modules/mime-db/
node_modules/mime-types/
node_modules/mimic-response/
node_modules/minimist/
node_modules/mkdirp/
node_modules/ms/
node_modules/normalize-url/
node_modules/npm-conf/
node_modules/object-keys/
node_modules/once/
node_modules/p-cancelable/
node_modules/pend/
node_modules/pify/
node_modules/prepend-http/
node_modules/process-nextick-args/
node_modules/progress/
node_modules/proto-list/
node_modules/pump/
node_modules/readable-stream/
node_modules/responselike/
node_modules/roarr/LICENSE
node_modules/roarr/README.md
node_modules/roarr/package.json
node_modules/safe-buffer/
node_modules/semver-compare/
node_modules/semver/
node_modules/serialize-error/
node_modules/sprintf-js/CHANGELOG.md
node_modules/sprintf-js/CONTRIBUTORS.md
node_modules/sprintf-js/LICENSE
node_modules/sprintf-js/README.md
node_modules/sprintf-js/package.json
node_modules/sprintf-js/src/
node_modules/string_decoder/
node_modules/sumchecker/
node_modules/to-readable-stream/
node_modules/tunnel/
node_modules/type-fest/
node_modules/typedarray/
node_modules/typescript/
node_modules/universalify/
node_modules/url-parse-lax/
node_modules/util-deprecate/
node_modules/wrappy/
node_modules/yallist/
node_modules/yauzl/
node_modules/lru-cache/

# Created by https://www.toptal.com/developers/gitignore/api/phpstorm
# Edit at https://www.toptal.com/developers/gitignore?templates=phpstorm

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### PhpStorm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# SonarQube Plugin
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Markdown Navigator plugin
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/

# Cache file creation bug
# See https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# CodeStream plugin
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

# Azure Toolkit for IntelliJ plugin
# https://plugins.jetbrains.com/plugin/8053-azure-toolkit-for-intellij
.idea/**/azureSettings.xml

# End of https://www.toptal.com/developers/gitignore/api/phpstorm